global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'demo-backend'
    static_configs:
      - targets: ['host.docker.internal:8080']  # 로컬에서 앱이 호스트 8080일 때
    metrics_path: /metrics